.padding-header{
    padding-top: 75px;
}

.cart-details{
    width: 80%;
    margin: auto;
}

.cart{
    max-height: 250px;
}

.cart img{
    margin-left: 50px;
    height: 250px;
    max-width: 230px;
}

.Cart-content{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size: 40px;
}
section .cart{
    position: relative;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: 30px;
    box-shadow: 2px 8px 20px #ddd;
}

.row span{
    color: crimson;
}

.amount{
    margin-top:30px;
}

.box{
    padding: 20px;
    margin-top: 50px;
}

.cart img{
    width: 300px;
}

.amount span{
    color: crimson;
    padding: 0 20px;
}

.amount .count{
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.delete{
    position: absolute;
    top: 0;
    right: 5px;
    color: crimson;
    cursor: pointer;
    font-weight: 900;
}
.total{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total a{
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
    margin: 30px;
}
.total h3{
    margin-right: 50px;
    color: crimson;
}

.emptyproduct{
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.emptyproduct h3{
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

