header {
    min-height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: none;
    position: absolute;
    width: 100%;
    z-index: 99;
}

header .logo{
    margin: 20px 70px;
}

header .logo a{
    font-size: 25px;
    text-decoration: none;
    color: #ffff;
    font-weight: 800;  
}

header nav{
    display:flex;
    margin: 0 50px;
}

nav ul li {
    list-style: none;
    display:inline-block;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
    font-size: 15px;
    transition: 0.6s; 
}

nav ul li a:hover{
    font-size: 17px;
    font-weight: 600;
}

nav .nav-cart {
    cursor: pointer;
    position: relative;
    color: #fff;
}

nav .nav-cart span{
    position: absolute;
    top: -12px;
    right: -7px;
    background: crimson;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}

header .menu,
header .close{
    cursor: pointer;
    display: none;
}

@media(max-width:771px){
    header ul{
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: white;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }
    header .menu,
    header .close{
        display: block;
    }
    header .close{
        position: absolute;
        top:10px;
        right: 20px;
    }
    header ul.toggle{
        top:0;
    }
}