

#home{
    object-fit: cover;  
    width: 100%;
}

:root{
	--main-color: #f9b033;
}


.hero{
	color: #ec91c6;
    width: 100%;
	height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
	transition: 0.5s;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
	z-index: 0;
}

.hero .btn{
	background: #fff;
	font-size: 17px;
	font-weight: 500;
	padding: 6px 12px;
	border-radius: 19px;
	box-shadow: 5px 10px 10px rgba(51, 51, 51, 0.1);
	transition: all 0.3s ease-in-out;
	border: 1px solid #fff;
	text-decoration: none;
}

.hero .btn:hover{
	background: var(--main-color);
	color: #fff;
}

.hero .bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	clip-path: polygon(52% 0, 100% 0%, 100% 100%, 68% 100%);
	transition: 0.5s;
}

.hero .content{
    position: absolute;
    top: 30%;
    left: 8%;
}

.hero .content span{
	color: var(--main-color);
	font-size: 70px;
	font-weight: 600;
	line-height: 1;
}

.hero .content p{
	color: #b6b6b6;
	font-size: 18px;
	width: 45%;
	margin-top: 20px;
	margin-bottom: 30px;
}

.hero .btn2{
	background: var(--main-color);
	color: #fff;
	border: 0;
}

.hero .btn2:hover{
	background-color: #fff;
	transition: 0.5s;
	transform: translateY(3px);
}

.hero .btn2:active{
	transform: translateY(7px);
	transition: 0.1s;	
}

.hero .right{
    top: 20%;
	width: 38%;
	position: absolute;
	right: 15%;
}

.right img{
	width: 500px;
	transition: 0.5s ease-in-out;
	transition: 0.5s;
}


.hero .fruit-control{
	display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 98;
}

.hero .fruit-control-item {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border-radius: 50%;
}
.hero .fruit-control img{
	width: 60px;
	height: 60px;
	filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0,0,0, 0.3));
}

.hero .fruit-control-item img:active{
	transform: translateY(10px);
	transition: 0.2s;
}

.main-container{
	height: 100%;
	width: 100%;
	background-image: url("../assets/justs_bg.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
	background-attachment: fixed;
}

.service-info{
	height: 100%;
	width: 100%;
	padding: 300px 100px;

}

.service-info ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-info li{
	margin: 20px;
	padding: 20px;
	text-align: center;
	color: var(--main-color);
}

.service-info li h3{
	font-size: 25px;
	margin: 5px;
}

.slider{
	display: flex;
}

.slide-item{
	background-color: #ffff;
	min-width:200px;
	min-height: 300px;
	border: 1px solid #eee;
	overflow: hidden;
	padding: 10px;
	box-shadow: 2px 8px 20px #ddd;
	margin: 10px;
	transition: 0.5s linear;
}

.slide-item:hover{
    box-shadow: none;
}

.slide-item img{
    max-width: 300px;
    width: 600px;
    height: 400px;
    max-height: 300px;
    display: block;
    object-fit: cover;
}
.slide-item h3{
    text-transform: uppercase;
    margin: 10px 0;
}

.slide-item h3 a{
    text-decoration: none;
    color: #333;
}

.slide-item h3 a:hover{
    color: black;
	background-color: #ffff;
}

.slide-item span{
    color: crimson;
}
.slide-item p{
    margin: 10px 0;
}
.slide-item button{
    border: none;
    outline: none;
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
	transition: 0.5s;

}
.slide-item button:hover{
    background: var(--main-color);
}
.slide-item button:active{
    background:var(--main-color);
    box-shadow: 0 5px #666;
    transform: translateY(1px); 
}
.cart-button{
    color: white;
    text-decoration: none;

}

.slider-text{
	width: 100%;
	padding: 50px;
}

.slider-text p{
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: #585858;
}

.slider-text h3{
	text-align: center;
	color: var(--main-color);
	font-size: 28px;
}

.last-container{
	position: relative;
	height: 100vh;
}

.info{
    margin-left: 8%;
    margin-top: 10%;
}

.info h1{
    font-size: 40px;
    color: #444242;
}

.info h1 span{
   color:  var(--main-color);
}

.info p{
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box:hover .back-img{
    bottom: 40px;
}

.img-box:hover .man-img{
    left: 54%;
}

.img-slider{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.img-slider img{
	height: 350px;
	transition: transform 2s ease;
	width: 100%;
}

.img-slider img:hover{
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}




