:root{
	--main-color: #f9b033;
}


#product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 70px;
    background-color: #ffff;
}

.padding-header{
    padding-top: 75px;
    background-color: var(--main-color); 
}

.card{
    min-width:300px;
    min-height: 400px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
}
.card:hover{
    box-shadow: none;
}

.products-image{
    height: 350px;
	width: 100%;
	overflow: hidden;
}

.card img{
    max-width: 300px;
    width: 300px;
    height: 350px;
    max-height: 350px;
    display: block;
    object-fit: cover;
    overflow: hidden;
    transition: transform 2s ease;
}
.card img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.card h3{
    text-transform: uppercase;
    margin: 10px 0;
}

.card h3 a{
    text-decoration: none;
    color: #333;
}

.card h3 a:hover{
    color:crimson;
}

.card span{
    color: crimson;
}
.card p{
    margin: 10px 0;
}
.card button{
    border: none;
    outline: none;
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
    transition: 0.5s;

}
.card button:hover{
    background: var(--main-color);
}
.card button:active{
    background:#A9A9A9;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
    
}
.cart-button{
    color: white;
    text-decoration: none;

}








