 
.admin-page{
    width: 100%;
    padding: 30px;
}

.admin{
    display: flex;
    height: 100%;
}

.material-dashboard{
    color: white;
    padding: 30px 20px 30px 20px;
    text-align: center;
    background-color: crimson;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.admin-vertical-menu {
    width: 300px;
    margin: 10px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

.admin-vertical-menu a {
    color: white;
    display: block;
    padding: 20px;
    padding-left: 30px;
    text-decoration: none;
}

.admin-vertical-menu a:hover {
    background-color: rgb(120, 118, 118);
    text-decoration: none;
    color: white;
}

.admin-vertical-menu a.active {
    background-color: crimson;
    color: white; 
}

.row-dashboard{
    padding: 40px;
    margin-right: 15px;
    border-radius: 10px;
    background: rgb(213, 212, 212);
    text-align: center;
}

.row-dashboard h5{
    font-size: 25px;
}

/* Product table */
#students td, #students th {
    border: 1px solid #fff;
    padding: 8px;
}

#students tr:nth-child(even){background-color: #666161;}

#students tr:hover {background-color: #ddd;}

#students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}