
.padding-header{
    padding-top: 70px;
}

.login {
    position: relative;
    left: 32%;
    width: 400px;
    background:white;
    border:2px solid #333;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}


.login h1{
    color: crimson;
    text-align:center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin:30px 0;
}

.txt_field input{
    width:100%;
    padding:0 5px;
    height:40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
}

.txt_field label {
   position: absolute;
   top: 50%;
   left: 5px;
   color: #adadad; 
   transform: translateY(-50%);
   font-size:16px;
   pointer-events: none;
   transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top:40px;
    left:0;
    width: 0%;
    height:2px;
    background: crimson;
    transition: .5s;
}

.txt_field input:focus ~label,
.txt_field input:valid ~label{
    top: -5px;
    color: crimson;
}

.txt_field input:focus ~span::before,
.txt_field input:valid ~span::before{
    width: 100%;
}

.pass{
    margin:-5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width:100%;
    height:50px;
    border: 1px solid;
    background: crimson;
    border-radius: 25px;
    font-size: 18px;
    color:#e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: crimson;
    transition: .5s;
}

.signup_link{
    margin:30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a {
    color:crimson;
    text-decoration: none;
} 

.signup_link a:hover {
    text-decoration: underline;
}

.login-please{
    text-align: center;
    padding: 300px;
}


